.defaultHandle{
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    border-radius: 100%;
}

.barBackground{
    height: 95%;
    width: 100%;
    border-radius: 5px;
}
