.defaultHandle{
    position: absolute;
    box-sizing: border-box;
    border-radius: 99px;
    transform: translate(0,-50%);
}

.barBackground{
    border-radius: 5px;
    height: 93%;
    width: 100%;
}
